FirstStardewValleyMod/FirstStardewValleyMod.csproj
*.csproj
FirstStardewValleyMod/packages.config
FirstStardewValleyMod/bin/
FirstStardewValleyMod/obj/
FirstStardewValleyMod/Properties/
.vs/
packages/
